@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

html, body {
  font-family: "Poppins";
  font-style: normal;
  background-color: #F8F8FA;
  overflow-x: hidden;
  position: relative;
}

.btn-statistics, .nav-input, .nav-input-group .btn-nav-input, .nav .btn-notif, #toggle-navbar {
  background-color: transparent;
  border: none;
  outline: none;
}
.text-link {
  display: inline-block;
  color: #2563EB;
  text-decoration: none;
}
.text-link.active {
  color: #4640DE;
  border-bottom: 1px solid #4640DE;
}
.text-link::after {
  content: '';
  display: block;
  width: 0;
  background: #4C4DDC;
  transition: width .3s;
}

.tex-link:hover::after {
  width: 100%;
  //transition: width .3s;
}
.cool-link {
  display: inline-block;
  color: #ABB3C4;
  text-decoration: none;
}
.cool-link.active {
  color: #4640DE;
  border-bottom: 1px solid #4640DE;
}
.cool-link::after {
  content: '';
  display: block;
  width: 0;
  background: #4C4DDC;
  transition: width .3s;
}

.cool-link:hover::after {
  width: 100%;
  //transition: width .3s;
}

.profile-item {
  display: flex;
  align-items: center;
}

.mr-5, .mx-5 {
  margin-right: 1.25rem !important;
}

.screen-cover {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.name-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #150B3D;
}
.name-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #000;
}
.img-profile {
  position: absolute;
  width: 46px;
  height: 46px;
}
.content {
  padding: 10px 14px 24px 14px;
}
@media (min-width: 1200px) {
  .content {
    padding: 0px 30px 0px 0px;
  }
}

.content-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #121F3E;
}
.content-title:first-of-type {
  margin-top: 5px;
}
.content-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ABB3C4;
}
.btn-primary {
  width: auto;
  height: 48px;
}
.btn-secondary {
  width: auto;
  height: 48px;
}

/* CheckBox */
.checkbox {
  width: 20px;
  height: 20px;
}

/* Login & Register */
.bg-login {
  background-color: #0D6EFD;
  padding: 124px 124px;
  padding-bottom: 250px;
  width: 100vh;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.login {
  padding: 124px 124px;
  top: 0;
  left: 0;
  z-index: 2;
}
.star {
  color: #FDE047;
}
.text-white {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb),var(--bs-text-opacity))!important;
}
.text-blue {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-blue-rgb),var(--bs-text-opacity))!important;
}

/* Nav */
nav {
  margin:auto;
  text-align: center;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
 } 

 nav ul ul {
  display: none;
 }

 nav ul li:hover > ul{
 display: block;
 width: 150px;
 }

 nav ul {
  background: #ffffff;
  padding: 0 20px;
  list-style: none;
  position: relative;
  display: inline-table;
  width: 100%;
 }

 nav ul:after {
  content: ""; 
  clear:both; 
  display: block;
 }

 nav ul li{
  float:left;
 }

 nav ul li:hover{
  background:#0D6EFD;
 }

 nav ul li:hover a{
  color: #ffffff;
 }

 nav ul li a{
  display: block;
  padding: 25px;
  color: #000000;
  text-decoration: none;
 }

 nav ul ul{
  background: #fff;
  border-radius: 0px;
  padding: 0;
  position: absolute;
  top:100%;
 }

 nav ul ul li{
  float:none;
  border-top: none
  border-bottom: none;
  position: relative;
 }

 nav ul ul li a{
  padding: 15px 40px;
  color: #000000;
 }

 nav ul ul li a:hover{
  background-color: #0D6EFD;
 }

 nav ul ul ul{
  position: absolute;
  left: 100%;
  top: 0;
 }